.container {
    max-width: 1080px;
    padding: 0 120px;
    margin: auto;
  }
  
  .title {
    font-size: x-large;
    color: black;
    margin: 0;
  }
  
  .subHeading {
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
  }
  
  .titleContainer {
    width: fit-content;
  }
  
  .content {
    font-family: "Lato", sans-serif;
    font-size: small;
  }
  