.currentLink {
  color: #fa5959;
  font-weight: 300;
  font-size: small;
  text-decoration: none;
}

.link {
  color: rgb(0, 0, 0);
  font-weight: 300;
  font-size: small;
  text-decoration: none;

  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover {
  color: #fa5959;
  cursor: pointer;

  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link.disable {
  color: rgb(0, 0, 0, 0.4);
  font-weight: 300;
  font-size: small;
  text-decoration: line-through;
  pointer-events: none;
}

.grey_font {
  color:rgba(0, 0, 0, 0.6);
}

.white_font {
  color:white;
}

.disableSelect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}