.currentLink {
  font-weight: 300;
  font-size: small;
  text-decoration: none;
}

.link {
  font-weight: 300;
  font-size: small;
  text-decoration: none;

  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link:hover {
  cursor: pointer;

  transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.link.disable {
  font-weight: 300;
  font-size: small;
  text-decoration: line-through;
  pointer-events: none;
}

.disableSelect {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}