.menuDropDownContainer {
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;

    padding-top: 25vh;
    
    overflow-y: auto;

    background-color: #fa5959;    

    z-index: 1;
    
    transform: translateY(-100%);

    transition: transform 0.5s cubic-bezier(0.88, 0.12, 0.46, 0.93);
}

.menuDropDownContainer.isTop {
    transition: transform 0.5s cubic-bezier(0.88, 0.12, 0.46, 0.93);
}

.menuDropDownContainer.isOpen {
    transform: translateY(0);

    transition: transform 0.5s cubic-bezier(0.88, 0.12, 0.46, 0.93);
}

.menuDropDownGrid {
    margin: auto;
}
