.menuDropDownContainer {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;

    transform: translateY(0);

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.menuDropDownContainer.top {
    transform: translateY(-32px);
    
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuDrag {
    position: absolute;
    top: 0;
    right: 5%;
    background-color: black;

    min-height: 32px;
    min-width: 32px;

    padding: auto;
    margin: auto;
    
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuDrag .menuContainer {
    padding: 12px 6px 1px 6px;
    margin: auto;
}

.menuDrag.open {
    top: 96px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hamburger {
    color: white;

    -webkit-text-stroke: 2px white;
    font-size: xx-small;
}

.menuDropDown {
    position: absolute;
    top: 0;
    left: 0;

    height: 0px;
    width: 100%;
    background-color: black;

    z-index: -1;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menuDropDown.open {
    height: 100px;

    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}