.headerLayout {
  position: fixed;
  top: 40px;
}

.logo::before {
  content: "";
  position: absolute;
  top: calc(50% + 1px);
  left: -6vw;
  width: 5vw;
  height: 1px;
  
  transition: background-color 0.25s cubic-bezier(0.5, 0.5, 0.46, 0.93) 0.25s;
}

.logo.open::before {
  transition: background-color 0.25s cubic-bezier(0.5, 0.5, 0.46, 0.93) 0.25s;
}

.logo a {
  transition: color 0.25s cubic-bezier(0.5, 0.5, 0.46, 0.93) 0.25s;
}

.top {
  transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.46, 0.93);
}

.notTop {
  transform: translateY(-80px);

  transition: transform 0.25s cubic-bezier(0.5, 0.5, 0.46, 0.93) 0.25s;
}